table, th, td {
    border: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

header {
    text-align: center;
    border: 10px solid #7b7b7b;
    background: #7b7b7b
}

h1 {
    color: #fffcfc;
}

.error {
   border: 1px solid red;
}

.red {
    border: 1px solid red;
}